body{
    background-color: #F5F4F4;
}

.basket{
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 30%;
    box-shadow: 0 0 15px orange;
    transition: 0.3s;
}

.basket:hover{
    background-color: rgb(255, 106, 0);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 347px;
  height: 477px;
  margin: 14px;
  background-color: white;
  text-decoration: none;
}

header {
    background-color: #000033;
    height: 130px;
    line-height: 50px;
    padding-top: 15px;
    width: 100%;
}

.title {
    text-decoration: none;
    margin: 5px;
    line-height: 50px;
}

button {
  border-radius: 5px;
  color: #ADB6C4;
  font: sans-serif;
}
.add-btn{
    width: 100px;
    background: white;
    color: #060F1E;
    border-width: 0.5px;
    margin-left: 120px;
    margin-top: 5px;
    transition: 0.5s;
}

.add-btn:hover{
    transition: 0.5s;
    background: #000033;
    color: white;
}

.del-btn{
    width: 100px;
    background: white;
    color: darkred;
    border-width: 2px;
    margin-left: 25px;
    margin-top: 5px;
    transition: 0.5s;
    border-color: darkred;
}

.del-btn:hover{
    transition: 0.5s;
    background: darkred;
    color: white;
}