{% extends 'layout.html' %}
{% load static %}

{% block title %}
Заявки
{% endblock %}

{% block content %}

<h1 style="font-family: 'Inknut Antiqua', sans-serif; font-weight: bold; font-size: 50px; margin-left: 100px; color: black; margin-top: 70px; margin-bottom: 50px;">Моя заявка</h1>
<div style="font-family: 'Inknut Antiqua', sans-serif; display: block; margin-left: 100px;">
    <h4 style="margin-left: 20px;">Выберите название порта</h4>
    <div style="border: solid; width: 400px; border-radius: 5px; height: 30px; background: #FFFFFF; margin-bottom: 50px; margin-left: 20px;">
        <p style="color: black;">{{ data.port_name }}</p>
    </div>

    <h4 style="margin-left: 20px;">Выберите дату стоянки</h4>
{#    <input type="date" value="2024-01-01" min="2024-01-01" max="2025-01-01" />#}
    <div style="border: solid; width: 400px; border-radius: 5px; height: 30px; background: #FFFFFF; margin-left: 20px;">
        <p style="color: black;">{{ data.date }}</p>
    </div>
<div style="display: flex;">
    <ul style="padding: 0; list-style-type: none;">
        {% if data.current_ships %}
            {% for ship in data.current_ships %}
                       <div style="display: flex;">
                    <li style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; border-width: 3px; width: 700px; height: 170px; margin: 20px; background-color: white; text-decoration: none;">
                        <img style="float: left; height: 170px; width: 250px;" src="{{ ship.img_url }}" alt="ship img">
                        <a style="font-family: 'Roboto', sans-serif; text-decoration: none; margin-top: 2px; margin-left: 20px; text-align: center; color: black; font-weight: medium; font-size: 25px" href="{% url 'ship_url' ship.id_ship %}">{{ ship.ship_name }}</a>
                        <p style="padding-left: 20px; -webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;">{{ ship.description }}</p>
                        <form action="{% url 'ship_url' ship.id_ship %}">
                            <input style="margin-left: 20px;" type="submit" value="Подробнее" />
                        </form>
                    </li>
                        <div style="margin-top: 50px;">
                            <h4>Выберите капитана</h4>
                            <div style="border: solid; width: 400px; border-radius: 5px; height: 30px; background: #FFFFFF; margin-top: 10px;">
                                
                                <p style="color: black;">{{ data.captain_1 }}</p>
                            </div>
                        </div>
                        </div> 

                
            {% empty %}
                <li style="font-family: 'Roboto', sans-serif; color: white">По Вашему поиску результатов не найдено</li>
            {% endfor %}
    {% endif %}

    </ul>
</div>
</div>

<div style="display: flex; justify-content: center;">
    <form action="{% url 'del_parking' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ data.req_id }}" name="id_parking">
        <button class="del-btn" type="submit">Удалить</button>
    </form>
</div>
    
{% endblock %}

